body{
    box-sizing: border-box;
    margin: 0;
    /*padding: 0;*/
    width: 100vw;
    padding: 10px;
    display: grid;
    grid-template-rows: 50px 100px 250px 225px repeat(2, 200px) 150px;
    grid-template-areas:
            "SkipToMain"
            "Company"
            "Nav"
            "Image"
            "Main"
            "Sub"
            "Footer";
}

.alert-info{
    grid-area: SkipToMain;
    background-color: rgb(214, 254, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px lightgray;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 4em;
    grid-area: Company;
    display: flex;
    justify-content: center;
    align-self: flex-start;
}
nav{
    display: flex;
    justify-content: center;
    grid-area: Nav;
}
.nav-links{
    padding: 0;
    margin: 0
}
li{
    display: flex;
    align-content: space-between;
    padding: 12px 214px;
    border-top: solid white 10px;
    background-color: lightgray;
}

#header-img{
    grid-area: Image;
    margin: 0 auto;
    max-width: 520px;
    /*width: 100%;*/
}
    img{
        width: 100%;
    }

#main{
    grid-area: Main;
    font-size: 15px;
}
.sub-section{
    grid-area: Sub;
    font-style: italic;
}
section>h2{

}
footer{
    grid-area: Footer;
    display: flex;
    align-items: flex-end;
}
ul{
    /*padding: 0;*/
    /*margin: 0;*/
    list-style: none;
}

@media screen and (min-width: 768px) {
    body {
        padding: 10px;
        display: grid;
        grid-template-rows: 100px 390px 300px 100px;
        grid-template-areas:
                "Company Nav"
                "Image Image"
                "Main Sub"
                "Footer Footer";
    }
    .hidden-on-desktop {
        display: none
    }
    li{
        background-color: white;
        /*padding: 0;*/
        border: none;
        display: inline-flex;
        padding: 0 10px;
    }
    ul{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: flex-end;
    }
    h1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    #header-img{
        max-width: 890px;
        /*width: 100%;*/
    }
    img{
        width: 100%;
    }
    .sub-section{
        max-width: 294px;
        margin-left: 30px;
    }
    footer{
        display: flex;
        align-items: flex-start;
    }
}